body {
  background-color: white;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  width: 800px;
  color: #333;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
}

.App {
  border-radius: 2px;
  display: flex; 
  flex-direction: column;
  border: 1px solid #ccc;
  margin: 25px;
  padding: 25px;
}

.section img {
  padding-bottom: 20px;
  margin-left: 49px;
}

#logo h1 {
  color: #007baf;
  font-size: 20px;
}

#ejemplo {
  display: block;
  color: #555;
  font-size: 12px;
  margin: 10px;
}

#search-input {
  color: #333;
  border-radius: 2px;
  border: 1px solid #ccc;
}

.sugerencia {
  position: relative;
  display: block;
  padding: 12px 16px 0 0;
  margin: 0;
  color: #666;
  text-decoration: none;
  padding-left: 5px;
}

.sugerencia:hover {
  background-color: rgb(245, 240, 240);
}

.sugerencia .clase {
  display: block;
  font-size: 0.9em;
  color: #69a128;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 70px);
}
.sugerencia > .titulo-sugerencia {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.4;
  white-space: nowrap;
  max-width: calc(100vw - 70px);
  text-overflow: ellipsis;
  overflow: hidden;
}

#footer {
  border-top: 1px solid #ccc;
  font-size: x-small;
  text-align: center;
  margin-top: 20px;
  padding-bottom: 5px;
}

.options p {
  font-style: italic;
  display: block;
  margin: 10px 20px;
  color: #555;
  font-size: 12px;
  padding-bottom: 10px;
}

.options {
  border-radius: 2px;
  border: 1px solid #ccc;
}

.options input {
  color: #333;
  border-radius: 2px;
  border: 1px solid #ccc;
  width: 45px;
}
