.App {
  text-align: left;
  height: 90vh;
  display: flex;
  flex-direction: column;
  width: 90vw;
  border: 1px solid #ccc;
  margin: 25px;
  padding: 25px;
}

.section img {
  padding-top: 25px;
}

#logo h1 {
  color: #007baf;
  font-size: 20px;
}

#ejemplo {
  display: block;
  color: #555;
  font-size: 11px;
  margin-bottom: 10px;
}

.sugerencia {
  position: relative;
  display: block;
  padding: 12px 16px 0 0;
  margin: 0;
  color: #666;
  text-decoration: none;
  padding-left: 5px;
}

.sugerencia:hover {
  background-color: rgb(245, 240, 240);
}

.sugerencia .clase {
  display: block;
  font-size: 0.9em;
  color: #a6a6a6;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: calc(100vw - 70px);
}
.sugerencia > .titulo-sugerencia {
  font-size: 1.1em;
  font-weight: normal;
  line-height: 1.4;
  white-space: nowrap;
  max-width: calc(100vw - 70px);
  text-overflow: ellipsis;
  overflow: hidden;
}
